body {
  background-image: url(bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.danmako_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}



.danmako_screen .send .s_con .s_txt {
    width: 700px;
    height: 40px;
    border: 0;
    font-size: 18px;
    padding-left: 12px;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.danmako_screen .send .s_con .s_btn {
    width: 100px;
    height: 40px;
    background: #088;
    border: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    outline: none;
}

.danmako_screen .send .s_con .s_btn:hover {
    background: #006c6c;
}

.danmako_screen .s_dm .s_show {
    position: relative;
    z-index: 2;
}

.danmako_screen .s_dm .s_show div {
    line-height: 36px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    white-space:nowrap;
    font-family: cursive;
    top: 0;
    left: 0;
}



/*end danmako_screen*/