
.danmako_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1050;
}

.danmako_screen .s_dm {
}

.danmako_screen .s_dm .s_show {
    position: relative;
    z-index: 2;
}

.danmako_screen .s_dm .s_show div {
    line-height: 36px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    white-space:nowrap;
    font-family: cursive;
    top: 0;
    left: 0;
}


.danmako_screen .s_dm .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1;
}

/*end danmako_screen*/